@import 'config/variables';
@import 'base/base';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/buttons';
@import 'components/sponsor';
@import 'components/specs';
@import 'components/case';
@import 'components/discount';
@import 'components/products';
@import 'components/footer';
@import 'components/scroll';
@import 'components/mediaqueries';