/*=============== CASE ===============*/
.case{
    &__container{
        position: relative;
        grid-template-columns: repeat(2, 1fr);
    }
    &__data{
        padding: 5rem 0 3rem;
    }
    &__img{
        width: 250px;
        position: absolute;
        left: -7rem;
    }
    &__description{
        margin-bottom: var(--mb-1-5);
        line-height: var(--text-line-height);
    }
}