/*=============== DISCOUNT ===============*/
.discount{
    &__container{
        position: relative;
        background-color: var(--container-color);
        padding: 2rem 1.5rem;
        border-radius: .75rem;
    }
    &__title{
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-75);
    }
    &__description{
        margin-bottom: var(--mb-1);
    }
    &__img{
        width: 300px;
        position: absolute;
        top: 4rem;
        right: -11rem;
    }
}