/*=============== PRODUCTS ===============*/
.products{
    &__line{
        line-height: 4rem;
    }
    &__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem 1.5rem;
        padding-top: 3rem;
    }
    &__card{
        position: relative;
        height: 132px;
        background-color: var(--container-color);
        padding: .75rem;
        border-radius: .5rem;
        display: grid;
    }
    &__img{
        width: 80px;
        position: absolute;
        inset: 0;
        margin-right: auto;
        margin-left: auto;
        top: -3rem;
    }
    &__content{
        align-self: flex-end;
    }
    &__title,
    &__price{
        font-size: var(--small-font-size);
    }
    &__price{
        font-weight: var(--font-semi-bold);
    }
    &__button{
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        padding: .5rem;
        border-radius: .35rem;
    }
}