/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;

    &:hover{
        background-color: var(--black-color);
        opacity: 1;
    }

    &__icon{
        color: var(--white-color);
        font-size: 1.35rem;
    }
}

/* Show Scroll Up*/
.show-scroll{
    bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .60rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll-thumb-color-alt);
}