/*=============== SPONSOR ===============*/
.sponsor{
    &__img{
        width: 90px;
    }
    &__container{
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        row-gap: 5rem;
        justify-items: center;
        align-items: center;
    }
}