/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 4rem 0 2rem;

    &__title{
        font-size: var(--bigger-font-size);
        text-align: center;
        margin-bottom: var(--mb-2-5);

        &-gradient{
            background: var(--text-gradient);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}

/*=============== LAYOUT ===============*/
.main{
    overflow: hidden;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}